:root {
    --xf-color-1: #000;
    --xf-color-2: #fff;
    --xf-color-3: #666;
    --xf-color-4: #333;
    --xf-color-5: #00bfe6;
    --xf-color-6: #ffa7be;
    --xf-color-7: #ff6b92;
    --xf-color-8: #ffcedb;
    --xf-color-9: #148bba;
    --xf-color-10: #cfcfd1;
    --xf-color-11: #f90000;
    --xf-color-12: #fbc606;
    --xf-color-rgb-1: rgba(255, 255, 255, 0.3);
    --xf-color-rgb-2: rgba(255, 255, 255, 0.5);
    --xf-color-rgb-3: rgba(255, 255, 255, 0.7);
    --xf-color-rgb-4: rgba(0, 0, 0, 0.5);
    --xf-blur: blur(8px);
    --xf-gradient-1: to right, rgb(209, 240, 255) 0%, rgb(235, 228, 255) 20%, rgb(255, 232, 240) 40%, rgb(255, 227, 250) 60%, rgb(255, 234, 246) 80%, rgb(210, 223, 211) 100%;
    --xf-h1-shadow: 5px 5px 0 white, 5px -5px 0 white, -5px -5px 0 white, -5px 5px 0 white, 5px 4px 0 white, 5px -4px 0 white, -5px -4px 0 white, -5px 4px 0 white, 5px 2px 0 white, 5px -2px 0 white, -5px -2px 0 white, -5px 2px 0 white, 5px 1px 0 white, 5px -1px 0 white, -5px -1px 0 white, -5px 1px 0 white, 5px 0px 0 white, 5px 0px 0 white, -5px 0px 0 white, -5px 0px 0 white, 4px 5px 0 white, 4px -5px 0 white, -4px -5px 0 white, -4px 5px 0 white, 4px 4px 0 white, 4px -4px 0 white, -4px -4px 0 white, -4px 4px 0 white, 4px 2px 0 white, 4px -2px 0 white, -4px -2px 0 white, -4px 2px 0 white, 4px 1px 0 white, 4px -1px 0 white, -4px -1px 0 white, -4px 1px 0 white, 4px 0px 0 white, 4px 0px 0 white, -4px 0px 0 white, -4px 0px 0 white, 2px 5px 0 white, 2px -5px 0 white, -2px -5px 0 white, -2px 5px 0 white, 2px 4px 0 white, 2px -4px 0 white, -2px -4px 0 white, -2px 4px 0 white, 2px 2px 0 white, 2px -2px 0 white, -2px -2px 0 white, -2px 2px 0 white, 2px 1px 0 white, 2px -1px 0 white, -2px -1px 0 white, -2px 1px 0 white, 2px 0px 0 white, 2px 0px 0 white, -2px 0px 0 white, -2px 0px 0 white, 1px 5px 0 white, 1px -5px 0 white, -1px -5px 0 white, -1px 5px 0 white, 1px 4px 0 white, 1px -4px 0 white, -1px -4px 0 white, -1px 4px 0 white, 1px 2px 0 white, 1px -2px 0 white, -1px -2px 0 white, -1px 2px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px 0px 0 white, 1px 0px 0 white, -1px 0px 0 white, -1px 0px 0 white, 0px 5px 0 white, 0px -5px 0 white, 0px -5px 0 white, 0px 5px 0 white, 0px 4px 0 white, 0px -4px 0 white, 0px -4px 0 white, 0px 4px 0 white, 0px 2px 0 white, 0px -2px 0 white, 0px -2px 0 white, 0px 2px 0 white, 0px 1px 0 white, 0px -1px 0 white, 0px -1px 0 white, 0px 1px 0 white;
    --xf-shadow-1: 0 0 0.1042rem 0 rgba(0, 0, 0, 0.1);
    --xf-shadow-2: 0 0.026rem 0.1042rem 0 rgba(255, 167, 190, 0.3);
    --xf-shadow-3: 0.1302rem 0 var(--xf-color-12), .2604rem 0 var(--xf-color-5);
    --xf-animation-1: xf_gradient_move 10s infinite linear alternate
}

@media screen and (max-width:1024px) {
    :root {
        --xf-shadow-1: 0 0 0.2084rem 0 rgba(0, 0, 0, 0.1);
        --xf-shadow-2: 0 0.052rem 0.2084rem 0 rgba(255, 167, 190, 0.3);
        --xf-shadow-3: 0.2604rem 0 var(--xf-color-12), .5208rem 0 var(--xf-color-5)
    }
}

@media screen and (max-width:512px) {
    :root {
        --xf-shadow-1: 0 0 0.3126rem 0 rgba(0, 0, 0, 0.1);
        --xf-shadow-2: 0 0.073rem 0.3126rem 0 rgba(255, 167, 190, 0.3);
        --xf-shadow-3: 0.3906rem 0 var(--xf-color-12), .7812rem 0 var(--xf-color-5)
    }
}

a {
    color: var(--xf-color-6);
    -webkit-transition: color 0.3s;
    transition: color 0.3s
}

a:hover {
    color: var(--xf-color-7)
}

body {
    cursor: url(../pointer/Pointer.cur), auto
}

body a,
body .xf_author,
body .wxImg,
body .swal-button-container button {
    cursor: url(../pointer/Link.cur), auto
}

::-webkit-scrollbar {
    width: 0.026rem;
    border-radius: 0.5208rem;
    -webkit-background-color: var(--xf-color-8);
    background-color: var(--xf-color-8)
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.0313rem var(--xf-color-10);
    box-shadow: inset 0 0 0.0313rem var(--xf-color-10);
    border-radius: 0.5208rem;
    -webkit-background-color: var(--xf-color-2);
    background-color: var(--xf-color-2)
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5208rem;
    background-color: var(--xf-color-5)
}

::selection {
    background: var(--xf-color-6);
    color: var(--xf-color-2);
    -webkit-text-shadow: none;
    text-shadow: none
}

:-webkit-selection {
    background: var(--xf-color-6);
    color: var(--xf-color-2);
    -webkit-text-shadow: none;
    text-shadow: none
}

::-moz-selection {
    background: var(--xf-color-6);
    color: var(--xf-color-2);
    -webkit-text-shadow: none;
    text-shadow: none
}