@import url(normalize.css);
@import url(main.css);

body {
    font: normal 1em '微软雅黑', 'Microsoft YaHei';
    color: var(--xf-color-3);
    background-color: var(--xf-color-8);
    background: -moz-linear-gradient(var(--xf-gradient-1));
    background: -webkit-linear-gradient(var(--xf-gradient-1));
    background: -ms-linear-gradient(var(--xf-gradient-1));
    background: linear-gradient(var(--xf-gradient-1));
    background-size: 200% 100%;
    background-position: 0 0;
    overflow-x: hidden
}

@keyframes xf_gradient_move {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 100% 0
    }
}

body .w {
    width: 80vw;
    margin: 0 auto
}

body .xf_header {
    margin-top: 0.0781rem;
    display: flex;
    flex-direction: column;
    align-items: center
}

body .xf_header h1 {
    font: italic normal 0.3125rem 'Microsoft YaHei';
    color: var(--xf-color-5);
    -webkit-text-shadow: var(--xf-h1-shadow);
    text-shadow: var(--xf-h1-shadow)
}

body .xf_header .xf_nav {
    position: relative;
    width: 28%;
    margin: 0.1563rem auto 0;
    border-radius: 0.5208rem;
    border: 0.0156rem solid var(--xf-color-2);
    -webkit-background-color: var(--xf-color-rgb-2);
    background-color: var(--xf-color-rgb-2);
    -webkit-backdrop-filter: var(--xf-blur);
    backdrop-filter: var(--xf-blur);
    overflow: hidden
}

body .xf_header .xf_nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0.026rem 0.0781rem
}

body .xf_header .xf_nav ul li {
    width: 100%;
    height: 100%
}

body .xf_header .xf_nav ul li img {
    width: 0.2188rem;
    height: 0.2188rem
}

body .xf_header .xf_nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--xf-color-3)
}

body .xf_header .xf_nav ul li a span {
    font-size: 0.0833rem
}

body .xf_header .xf_nav ul li a:hover {
    color: var(--xf-color-4)
}

body .xf_header .xf_nav .xf_slither_color {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    background-color: var(--xf-color-2);
    z-index: -1;
    -webkit-transition: left 0.5s;
    transition: left 0.5s
}



body .xf_section {
    position: relative;
    margin-top: 0.1563rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1563rem 0.0781rem;
    border-radius: 0.0521rem;
    border: 0.0156rem solid var(--xf-color-2);
    -webkit-background-color: var(--xf-color-rgb-2);
    background-color: var(--xf-color-rgb-2);
    -webkit-backdrop-filter: var(--xf-blur);
    backdrop-filter: var(--xf-blur);
    -webkit-box-shadow: var(--xf-shadow-1);
    box-shadow: var(--xf-shadow-1)
}

body .xf_section::after {
    display: inline-block;
    z-index: 1;
    content: " ";
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: var(--xf-color-11) !important;
    width: 0.0781rem;
    height: 0.0781rem;
    -webkit-box-shadow: var(--xf-shadow-3);
    box-shadow: var(--xf-shadow-3);
    right: 0.3125rem;
    top: 0.1042rem;
    border-color: transparent
}

body .xf_section .xf_author {
    position: relative;
    width: 0.651rem;
    height: 0.651rem;
    border-radius: 50%;
    color: var(--xf-color-2);
    text-align: center;
    border: 0.0052rem solid var(--xf-color-4);
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
    -moz-overflow: hidden;
    overflow: hidden
}

body .xf_section .xf_author img {
    display: block;
    width: 100%
}

body .xf_section .xf_author:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
}

body .xf_section .xf_author .xf_mb {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 10
}

body .xf_section .xf_author span {
    display: block;
    position: absolute;
    width: 110%;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    font-size: 0.1rem;
    padding: 0.1563rem 0.05rem;
    -webkit-background-color: var(--xf-color-rgb-4);
    background-color: var(--xf-color-rgb-4);
    -webkit-backdrop-filter: var(--xf-blur);
    backdrop-filter: var(--xf-blur);
    -webkit-transition: top 0.3s;
    transition: top 0.3s
}

body .xf_section .xf_speech {
    position: relative;
    font: 100 0.125rem '微软雅黑';
    height: 0.5208rem;
    width: 100%
}

body .xf_section .xf_speech::before {
    content: '';
    display: block;
    width: 0.2083rem;
    height: 0.2083rem;
    position: absolute;
    left: 10%;
    top: 0;
    background: url(../images/“.png) no-repeat;
    background-size: 90%
}

body .xf_section .xf_speech::after {
    content: '';
    display: block;
    width: 0.2083rem;
    height: 0.2083rem;
    position: absolute;
    bottom: 0;
    right: 10%;
    background: url(../images/”.png) no-repeat;
    background-size: 90%
}

body .xf_section .xf_speech span {
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap
}

body .xf_section .xf_box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    -webkit-background-color: var(--xf-color-rgb-1);
    background-color: var(--xf-color-rgb-1);
    -webkit-box-shadow: var(--xf-shadow-2);
    box-shadow: var(--xf-shadow-2);
    border-radius: 0 0 0.1563rem 0.1563rem;
    border-top: 0.026rem solid var(--xf-color-6);
    padding: 0.1042rem 0.0781rem;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s
}

body .xf_section .xf_box:hover {
    -webkit-transform: translateY(-0.3em);
    transform: translateY(-0.3em)
}

body .xf_section .xf_box .xf_card {
    position: relative;
    left: -0.2865rem;
    padding: 0.026rem 0.1042rem;
    font-weight: normal;
    color: var(--xf-color-2);
    background-color: var(--xf-color-6)
}

body .xf_section .xf_box .xf_card::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0.0625rem;
    left: 0.0286rem;
    border: 0.0938rem solid;
    border-color: transparent transparent var(--xf-color-8) transparent;
    transform: rotate(45deg);
    z-index: -1
}

body .xf_section .xf_box .xf_card span {
    font-size: 0.12rem
}

body .xf_section .xf_box .xf_site {
    position: relative;
    display: block;
    width: 100%
}

body .xf_section .xf_box .xf_site ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

body .xf_section .xf_box .xf_site ul .site_odd {
    border-radius: 10rem !important;
    width: 82.9%
}

body .xf_section .xf_box .xf_site ul li {
    width: 40%;
    text-align: center;
    border: 0.0104rem solid var(--xf-color-7);
    background-color: var(--xf-color-rgb-2);
    margin: 0.0781rem 0.1042rem;
    font-size: 0.1458rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

body .xf_section .xf_box .xf_site ul li:nth-child(odd) {
    border-radius: 0.5208rem 0 0 0.5208rem
}

body .xf_section .xf_box .xf_site ul li:nth-child(even) {
    border-radius: 0 0.5208rem 0.5208rem 0
}

body .xf_section .xf_box .xf_site ul li:hover {
    background-color: var(--xf-color-7);
    border-color: var(--xf-color-8)
}

body .xf_section .xf_box .xf_site ul li:hover a:hover {
    color: var(--xf-color-2)
}

body .xf_section .xf_box .xf_site ul li:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9)
}

body .xf_section .xf_box .xf_site ul li a {
    display: inline-block;
    padding: 0.0938rem 0.0521rem;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap
}

body .xf_section .xf_box .xf_about {
    position: relative;
    display: none;
    width: 100%
}

body .xf_section .xf_box .xf_about .tow_box {
    display: flex;
    justify-content: space-between;
    padding: 0 5%
}

body .xf_section .xf_box .xf_about .tow_box .xf_say {
    line-height: 0.2rem;
    width: 40%
}

body .xf_section .xf_box .xf_about .tow_box .xf_say p {
    clear: both;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    font-size: 0.12rem;
    padding-right: 2.5em
}

body .xf_section .xf_box .xf_about .tow_box .technology {
    width: 60%;
    padding: 0.0781rem 0;
    border-radius: 0.0521rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-background-color: var(--xf-color-rgb-3);
    background-color: var(--xf-color-rgb-3);
    border: 0.0104rem solid var(--xf-color-5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s
}

body .xf_section .xf_box .xf_about .tow_box .technology:hover {
    -webkit-transform: translateY(-0.5em) scale(1.05);
    transform: translateY(-0.5em) scale(1.05);
    box-shadow: var(--xf-shadow-2)
}

body .xf_section .xf_box .xf_about .tow_box .technology h3 {
    font-size: 0.15rem;
    margin-bottom: 0.0521rem;
    color: var(--xf-color-9)
}

body .xf_section .xf_box .xf_about .tow_box .technology .tech_box {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden
}

body .xf_section .xf_box .xf_about .tow_box .technology .tech_box h5 {
    width: 100%;
    margin: 0.0521rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between
}

body .xf_section .xf_box .xf_about .tow_box .technology .tech_box h5 span {
    font-size: 0.1rem;
    color: var(--xf-color-9)
}

body .xf_section .xf_box .xf_about .tow_box .technology .tech_box h5 p {
    position: relative;
    width: 2.0833rem;
    height: 0.0417rem;
    margin-left: 0.2rem;
    border-radius: 0.2604rem;
    background-color: var(--xf-color-5)
}

body .xf_section .xf_box .xf_about .tow_box .technology .tech_box h5 p i {
    display: block;
    height: 100%;
    border-radius: 0.2604rem;
    -webkit-background-color: var(--xf-color-rgb-1);
    background-color: var(--xf-color-rgb-1);
    -moz-animation: xf_tite 3s;
    -webkit-animation: xf_tite 3s;
    animation: xf_tite 3s
}

@keyframes xf_tite {
    0% {
        width: 0
    }
}

body .xf_section .xf_box .xf_wx {
    position: relative;
    display: none;
    width: 100%
}

body .xf_section .xf_box .xf_wx .myWX {
    width: 100%;
    text-align: center
}

body .xf_section .xf_box .xf_wx .myWX img {
    display: block;
    margin: 0.0781rem auto;
    width: 1.5625rem;
    height: 1.5625rem;
    transition: transform 0.3s
}

body .xf_section .xf_box .xf_wx .myWX img:hover {
    transform: rotate(5deg)
}

body .xf_section .xf_box .xf_wx .myWX p {
    font-size: 0.1rem
}

body .xf_footer {
    margin: 0.1302rem auto;
    text-align: center;
    font-size: 0.1rem
}

body .xf_footer p {
    line-height: 1.5
}

body .xf_footer p #xf_timer {
    font-weight: bold
}

body .xf_footer img {
    vertical-align: auto;
    width: 0.1rem;
    height: 0.1rem
}

body .xf_bigImg {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 2rem;
    height: 2rem;
    z-index: -100;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-transition: transform 0.35s;
    transition: transform 0.35s
}

body .ImgMaski {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    -webkit-background-color: var(--xf-color-rgb-4);
    background-color: var(--xf-color-rgb-4);
    display: none
}

body .ImgMaski::after {
    content: '×';
    display: block;
    font-size: 3.5em;
    color: var(--xf-color-2);
    position: fixed;
    right: 35%;
    top: 22%;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    z-index: 100
}

@media screen and (max-width:1024px) {
    body .w {
        width: 85vw
    }

    body .xf_header {
        margin-top: 0.19525rem
    }

    body .xf_header h1 {
        font-size: 0.78125rem
    }

    body .xf_header .xf_nav {
        width: 70%;
        margin: 0.39075rem auto 0;
        border-radius: 1.302rem;
        border-width: 0.0312rem
    }

    body .xf_header .xf_nav ul {
        padding: 0.065rem 0.19525rem
    }

    body .xf_header .xf_nav ul li img {
        width: 0.547rem;
        height: 0.547rem
    }

    body .xf_header .xf_nav ul li a span {
        font-size: 0.20825rem
    }

    body .xf_section {
        margin-top: 0.39075rem;
        padding: 0.39075rem 0.19525rem;
        border-radius: 0.13025rem;
        border-width: 0.039rem
    }

    body .xf_section::after {
        width: 0.19525rem;
        height: 0.19525rem;
        right: 0.78125rem;
        top: 0.2605rem
    }

    body .xf_section .xf_author {
        width: 1.6275rem;
        height: 1.6275rem;
        border-width: 0.013rem
    }

    body .xf_section .xf_author span {
        font-size: 0.25rem;
        padding: 0.39075rem 0.125rem
    }

    body .xf_section .xf_speech {
        height: 1.302rem;
        font-size: 0.3125rem
    }

    body .xf_section .xf_speech::before,
    body .xf_section .xf_speech::after {
        height: 0.52075rem;
        width: 0.52075rem
    }

    body .xf_section .xf_box {
        border-radius: 0 0 0.39075rem 0.39075rem;
        border-top-width: 0.065rem;
        padding: 0.2605rem 0.19525rem
    }

    body .xf_section .xf_box .xf_card {
        left: -0.71625rem;
        padding: 0.065rem 0.2605rem
    }

    body .xf_section .xf_box .xf_card::before {
        top: 0.3rem;
        left: 0.0858rem;
        border-width: 0.2345rem
    }

    body .xf_section .xf_box .xf_card span {
        font-size: 0.3rem
    }

    body .xf_section .xf_box .xf_site ul li {
        border-width: 0.0312rem;
        margin: 0.2343rem 0.3126rem;
        font-size: 0.4374rem
    }

    body .xf_section .xf_box .xf_site ul li:nth-child(odd) {
        border-radius: 1.5624rem 0 0 1.5624rem
    }

    body .xf_section .xf_box .xf_site ul li:nth-child(even) {
        border-radius: 0 1.5624rem 1.5624rem 0
    }

    body .xf_section .xf_box .xf_site ul li a {
        padding: 0.2814rem 0.1563rem
    }

    body .xf_section .xf_box .xf_about .tow_box {
        flex-direction: column
    }

    body .xf_section .xf_box .xf_about .tow_box .xf_say {
        width: 100%;
        line-height: 0.5rem
    }

    body .xf_section .xf_box .xf_about .tow_box .xf_say p {
        text-align: center;
        font-size: 0.3rem
    }

    body .xf_section .xf_box .xf_about .tow_box .technology {
        margin-top: 0.5rem;
        width: 100%;
        padding: 0.19525rem 0;
        border-radius: 0.13025rem;
        border: 0.026rem solid var(--xf-color-5)
    }

    body .xf_section .xf_box .xf_about .tow_box .technology h3 {
        font-size: 0.375rem;
        margin-bottom: 0.13025rem
    }

    body .xf_section .xf_box .xf_about .tow_box .technology .tech_box h5 {
        margin: 0.13025rem 0
    }

    body .xf_section .xf_box .xf_about .tow_box .technology .tech_box h5 span {
        font-size: 0.25rem
    }

    body .xf_section .xf_box .xf_about .tow_box .technology .tech_box h5 p {
        width: 4.1666rem;
        height: 0.10425rem;
        margin-left: 0.5rem;
        border-radius: 0.651rem
    }

    body .xf_section .xf_box .xf_about .tow_box .technology .tech_box h5 p i {
        border-radius: 0.651rem
    }

    body .xf_section .xf_box .xf_wx .myWX img {
        margin: 0.19525rem auto;
        width: 3.90625rem;
        height: 3.90625rem
    }

    body .xf_section .xf_box .xf_wx .myWX p {
        font-size: 0.25rem
    }

    body .xf_footer {
        margin: 0.3255rem auto;
        font-size: 0.25rem
    }

    body .xf_footer img {
        vertical-align: top;
        width: 0.25rem;
        height: 0.3rem
    }

    body .xf_bigImg {
        width: 5rem;
        height: 5rem
    }

    body .ImgMaski::after {
        font-size: 5em;
        right: 12%;
        top: 20%
    }
}

@media screen and (max-width:512px) {
    body .w {
        width: 90vw
    }

    body .xf_header {
        margin-top: 0.2343rem
    }

    body .xf_header h1 {
        text-align: center;
        font-size: 0.9375rem
    }

    body .xf_header .xf_nav {
        width: 84%;
        margin: 0.4689rem auto 0;
        border-radius: 1.5624rem;
        border-width: 0.0468rem
    }

    body .xf_header .xf_nav ul {
        padding: 0.156rem 0.4686rem
    }

    body .xf_header .xf_nav ul li img {
        width: 0.7658rem;
        height: 0.7658rem
    }

    body .xf_header .xf_nav ul li a span {
        font-size: 0.29155rem
    }

    body .xf_section {
        margin-top: 0.4689rem;
        padding: 0.4689rem 0.2343rem;
        border-radius: 0.1563rem;
        border-width: 0.0468rem
    }

    body .xf_section::after {
        width: 0.2343rem;
        height: 0.2343rem;
        right: 0.9375rem;
        top: 0.3126rem
    }

    body .xf_section .xf_author {
        width: 1.953rem;
        height: 1.953rem;
        border-width: 0.0156rem
    }

    body .xf_section .xf_author span {
        font-size: 0.3rem;
        padding: 0.4689rem 0.15rem
    }

    body .xf_section .xf_speech {
        height: 1.5624rem;
        font-size: 0.375rem
    }

    body .xf_section .xf_speech::before,
    body .xf_section .xf_speech::after {
        height: 0.6249rem;
        width: 0.6249rem
    }

    body .xf_section .xf_box {
        border-radius: 0 0 0.4689rem 0.4689rem;
        border-top-width: 0.078rem;
        padding: 0.3126rem 0.2343rem
    }

    body .xf_section .xf_box:hover {
        -webkit-transform: translateY(-0.15em);
        transform: translateY(-0.15em)
    }

    body .xf_section .xf_box .xf_card {
        display: none;
        left: -0.8595rem;
        padding: 0.078rem 0.3126rem
    }

    body .xf_section .xf_box .xf_card::before {
        top: 0.1875rem;
        left: 0.0858rem;
        border-width: 0.2814rem
    }

    body .xf_section .xf_box .xf_card span {
        font-size: 0.36rem
    }

    body .xf_section .xf_box .xf_site ul li {
        border-width: 0.0312rem;
        margin: 0.2343rem 0.3126rem;
        font-size: 0.4374rem
    }

    body .xf_section .xf_box .xf_site ul li:nth-child(odd) {
        border-radius: 1.5624rem 0 0 1.5624rem
    }

    body .xf_section .xf_box .xf_site ul li:nth-child(even) {
        border-radius: 0 0.5208rem 0.5208rem 0
    }

    body .xf_section .xf_box .xf_site ul li a {
        padding: 0.2814rem 0.1563rem
    }

    body .xf_section .xf_box .xf_about .tow_box {
        flex-direction: column
    }

    body .xf_section .xf_box .xf_about .tow_box .xf_say {
        width: 100%;
        line-height: 0.6rem
    }

    body .xf_section .xf_box .xf_about .tow_box .xf_say p {
        text-align: center;
        font-size: 0.36rem
    }

    body .xf_section .xf_box .xf_about .tow_box .technology {
        margin-top: 0.6rem;
        width: 100%;
        padding: 0.2343rem 0;
        border-radius: 0.1563rem;
        border: 0.0312rem solid var(--xf-color-5)
    }

    body .xf_section .xf_box .xf_about .tow_box .technology h3 {
        font-size: 0.45rem;
        margin-bottom: 0.1563rem
    }

    body .xf_section .xf_box .xf_about .tow_box .technology .tech_box h5 {
        margin: 0.1563rem 0
    }

    body .xf_section .xf_box .xf_about .tow_box .technology .tech_box h5 span {
        font-size: 0.3rem
    }

    body .xf_section .xf_box .xf_about .tow_box .technology .tech_box h5 p {
        width: 4.1666rem;
        height: 0.1251rem;
        margin-left: 0.6rem;
        border-radius: 0.7812rem
    }

    body .xf_section .xf_box .xf_about .tow_box .technology .tech_box h5 p i {
        border-radius: 0.7812rem
    }

    body .xf_section .xf_box .xf_wx .myWX img {
        margin: 0.2343rem auto;
        width: 4.6875rem;
        height: 4.6875rem
    }

    body .xf_section .xf_box .xf_wx .myWX p {
        font-size: 0.3rem
    }

    body .xf_footer {
        margin: 0.4557rem auto;
        font-size: 0.35rem
    }

    body .xf_footer img {
        vertical-align: top;
        width: 0.4rem;
        height: 0.4rem
    }

    body .xf_bigImg {
        width: 6rem;
        height: 6rem
    }

    body .ImgMaski::after {
        font-size: 1em;
        right: 5%;
        top: 28%
    }
}

.gradient_move {
    -moz-animation: var(--xf-animation-1);
    -o-animation: var(--xf-animation-1);
    -webkit-animation: var(--xf-animation-1);
    animation: var(--xf-animation-1)
}

@media screen and (max-width:680px) {

    body #Tips,
    body #Lrc,
    body #myhkTips,
    body #myhkLrc {
        font-size: 0.5em !important
    }
}